testing/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.raumzeitlabor.de/partdb2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="test" targetNamespace="http://www.raumzeitlabor.de/partdb2">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.raumzeitlabor.de/partdb2">
    
      <xsd:element name="createUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="User" type="tns:User" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="User">
      	<xsd:sequence>
      		<xsd:element name="username" maxOccurs="1"
      			minOccurs="1" type="xsd:string">
      		</xsd:element>
      		<xsd:element name="password" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="User" type="tns:User" maxOccurs="1" minOccurs="1"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="createUserRequest">
    <wsdl:part element="tns:createUser" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part element="tns:createUserResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUserRequest"/>
      <wsdl:output message="tns:createUserResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceBinding" type="tns:UserService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="createUser">
  		<soap:operation
  			soapAction="http://www.raumzeitlabor.de/partdb2/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceBinding" name="DefaultPort">
      <soap:address location="http://localhost/~felicitus/partdb2/testing/Service.php?service=UserService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
